.wrapper {
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    box-shadow: 0 2px 12px rgb(0, 0, 0, 12%);
    background-color: #fff;
    border-radius: 8px;
    padding-top: 8px;
}